//
// Table
//

// Table
.table {
	width: 100%;

	>:not(:last-child)>:last-child>* {
		border-bottom-color: inherit;
	}

	tr,
	th,
	td {
		border-color: inherit;
		border-width: inherit;
		border-style: inherit;
		text-transform: inherit;
		font-weight: inherit;
		font-size: inherit;
		color: inherit;
		height: inherit;
		min-height: inherit;

		&:first-child {
			padding-left: 0;
		}

		&:last-child {
			padding-right: 0;
		}
	}

	tfoot,
	tbody {
		tr:last-child {
			border-bottom: 0 !important;

			th,
			td {
				border-bottom: 0 !important;
			}
		}
	}

	tfoot {

		th,
		td {
			border-top: inherit;
		}
	}

	// Rounded
	&.table-rounded {
		border-radius: $border-radius;
		border-spacing: 0;
		border-collapse: separate;
	}

	// Flush
	&.table-flush {

		tr,
		th,
		td {
			padding: inherit;
		}
	}

	// Row bordered
	&.table-row-bordered {
		tr {
			border-bottom-width: 1px;
			border-bottom-style: solid;
			border-bottom-color: $border-color;
		}

		tfoot {

			th,
			td {
				border-top-width: 1px !important;
			}
		}
	}

	// Row dashed
	&.table-row-dashed {
		tr {
			border-bottom-width: 1px;
			border-bottom-style: dashed;
			border-bottom-color: $border-color;
		}

		tfoot {

			th,
			td {
				border-top-width: 1px !important;
			}
		}
	}

	// Row border colors
	@each $color,
	$value in $grays {
		&.table-row-gray-#{$color} {
			tr {
				border-bottom-color: $value;
			}
		}
	}
}

// Cell gutters
@each $breakpoint in map-keys($grid-breakpoints) {
	@include media-breakpoint-up($breakpoint) {
		$infix: breakpoint-infix($breakpoint, $grid-breakpoints);

		@each $name,
		$value in $gutters {
			.table.g#{$infix}-#{$name} {

				th,
				td {
					padding: $value;
				}
			}

			.table.gy#{$infix}-#{$name} {

				th,
				td {
					padding-top: $value;
					padding-bottom: $value;
				}
			}

			.table.gx#{$infix}-#{$name} {

				th,
				td {
					padding-left: $value;
					padding-right: $value;
				}
			}

			.table.gs#{$infix}-#{$name} {

				th,
				td {
					&:first-child {
						padding-left: $value;
					}

					&:last-child {
						padding-right: $value;
					}
				}
			}
		}
	}
}

.limiter {
	width: 100%;
	margin: 0 auto
}

.container-table100 {
	width: 100%;
	min-height: 100vh;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	// align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	padding: 33px 30px
}

.wrap-table100 {
	width: 1170px
}

table {
	border-spacing: 1;
	border-collapse: collapse;
	background: #fff;
	border-radius: 10px;
	overflow: hidden;
	width: 100%;
	margin: 0 auto;
	position: relative
}

table * {
	position: relative
}

table td,
table th {
	padding-left: 8px
}

table thead tr {
	height: 60px;
	background: #2B014C;
}

table tbody tr {
	height: 50px;
	border-bottom: 1px solid #F2F2F2;
}

table tbody tr:last-child {
	border: 0
}

table td,
table th {
	text-align: left
}

table td.l,
table th.l {
	text-align: right
}

table td.c,
table th.c {
	text-align: center
}

table td.r,
table th.r {
	text-align: center
}

.table100-head th {
	font-family: OpenSans-Regular;
	font-size: 18px;
	color: #fff;
	line-height: 1.2;
	font-weight: unset
}



tbody tr {
	font-family: OpenSans-Regular;
	font-size: 15px;
	color: gray;
	line-height: 1.2;
	font-weight: unset
}

tbody tr:hover {
	color: #555;
	background-color: #f5f5f5;
	cursor: pointer
}

.column1 {
	width: 260px;
	padding-left: 40px
}

.column2 {
	width: 160px
}

.column3 {
	width: 245px
}

.column4 {
	width: 110px;
	text-align: right
}

.column5 {
	width: 170px;
	text-align: right
}

.column6 {
	width: 222px;
	text-align: right;
	padding-right: 62px
}

// @media screen and (max-width:992px) {
// 	table {
// 		display: block
// 	}

// 	table>*,
// 	table tr,
// 	table td,
// 	table th {
// 		display: block
// 	}

// 	table thead {
// 		display: none
// 	}

// 	table tbody tr {
// 		height: auto;
// 		padding: 37px 0
// 	}

// 	table tbody tr td {
// 		padding-left: 40% !important;
// 		margin-bottom: 24px
// 	}

// 	table tbody tr td:last-child {
// 		margin-bottom: 0
// 	}

// 	table tbody tr td:before {
// 		font-family: OpenSans-Regular;
// 		font-size: 14px;
// 		color: #999;
// 		line-height: 1.2;
// 		font-weight: unset;
// 		position: absolute;
// 		width: 40%;
// 		left: 30px;
// 		top: 0
// 	}

// 	table tbody tr td:nth-child(1):before {
// 		content: "Date"
// 	}

// 	table tbody tr td:nth-child(2):before {
// 		content: "Order ID"
// 	}

// 	table tbody tr td:nth-child(3):before {
// 		content: "Name"
// 	}

// 	table tbody tr td:nth-child(4):before {
// 		content: "Price"
// 	}

// 	table tbody tr td:nth-child(5):before {
// 		content: "Quantity"
// 	}

// 	table tbody tr td:nth-child(6):before {
// 		content: "Total"
// 	}

// 	.column4,
// 	.column5,
// 	.column6 {
// 		text-align: left
// 	}

// 	.column4,
// 	.column5,
// 	.column6,
// 	.column1,
// 	.column2,
// 	.column3 {
// 		width: 100%
// 	}

// 	tbody tr {
// 		font-size: 14px
// 	}
// }

@media(max-width:576px) {
	.container-table100 {
		padding-left: 15px;
		padding-right: 15px
	}
}