//
// Menu
//

// Aside menu
.aside-menu {
    .menu {
        // Link padding x
        @include menu-link-padding-x(get($aside-config, padding-x));

        // Menu indention
        @include menu-link-indention(get($aside-config, menu-indention), get($aside-config, padding-x));
    }

    // Item
    .menu-item {
        padding: 0;

        // Menu Link
        .menu-link {
            padding-top: 12px;
            padding-bottom: 12px;
        }

        // Icon
        .menu-icon {
            justify-content: flex-start;
        }
    }
}

// Aside dark theme
.aside-dark {
    .hover-scroll-overlay-y {
        --scrollbar-space: 0.4rem;
        
        @include scrollbar-color(get($aside-config, scrollbar-color), get($aside-config, scrollbar-hover-color));
    }

    .menu {
        .menu-item {
            .menu-section {
                color: #4c4e6f !important;
            }

            //$title-color, $icon-color, $bullet-color, $arrow-color, $bg-color
            @include menu-link-default-state( #9899ac, #494b74, #9899ac, #9899ac, null);
            @include menu-link-hover-state( $white, #fff, #fff, $white, #1b1b28);
            @include menu-link-show-state( $white, $primary, #fff, $white, #1b1b28);
            @include menu-link-active-state( $white, #fff, #fff, $white, #1b1b28);
        }
    }
}

// Aside light theme
.aside-light {
    .menu {
        .menu-title {
            font-weight: 500;
        }

        .active{
            background: #2B014C !important;
            border-radius: 0px 6px 6px 0px;

            .menu-title{
                color: white !important;
            }
        }
    }
}

.menu-column{
    padding-right: 20px;
}

.aside-light .menu .menu-title{
    font-weight: 400 !important;
}



.menu-title{
    font-size: 18px ;
    line-height: 22.01px;
}
.menu-link{
    padding-top: 17px !important;
    padding-bottom: 17px !important;

}

.menu-state-icon-primary .menu-item .menu-link.active .menu-icon .svg-icon svg [fill]:not(.permanent):not(g){
    fill:white !important;
}

.svg-icon svg [fill]:not(.permanent):not(g) {
    transition: fill 0.3s ease;
    fill: #2B014C !important;
}

.menu-state-title-primary .menu-item .menu-link:hover:not(.disabled):not(.active) .menu-title{
    color: #2B014C !important;
}



.menu-title-gray-800 .menu-item .menu-link .menu-title {
    color: #fff !important;
}

.menu-title-gray-800 .menu-item .menu-link:not(.active) .menu-title {
    color: #2B014C !important;
}

.svg-icon svg [fill]:not(.permanent):not(g) {
    transition: fill 0.3s ease;
    fill: #2B014C !important; 
}

.menu-sub .menu-item .menu-title{
    font-size: 16px !important;
}